body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.class01 {
    height: 400px;
    width: 500px;
    background-color: #deb9b9; /* Цвет фона внешнего элемента */
    position: relative; /* Устанавливаем относительное позиционирование */
    padding: 10px;
}

.class02 {
    height: 100%;
    margin: 0;
    border: 0;
    background-color: #d51111; /* Цвет фона внутреннего элемента */
}